* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "lato", "sans-serif";
}
h2 {
  font-size: 5rem;
  font-weight: bold;
}
.page-container {
  display: flex;
  justify-content: center;
}
.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}
