$textcolor_1: #000;
$textcolor_2: #0571f8;
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "lato", "sans-serif";
  background-image: url("images/timer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}
h2 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  //   margin-top: 2rem;
}
h2::first-letter {
  color: $textcolor_1;
}
h2::first-line {
  text-decoration: underline;
  color: $textcolor_2;
  line-height: 4.8rem;
}
.page-container {
  display: flex;
  justify-content: center;
}
.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.day,
.hour,
.minute,
.second {
  font-size: 3rem;
  color: #000;
}
h3 {
  color: $textcolor_2;
}
span {
  font-size: 3rem;
}
